{%extends 'layouts/base_home.html'%}
{% load staticfiles %}

<head>
  {% block title %}
  Serum bank OUCRU app
  {% endblock %}
  {% block styles %}
      <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
      <link rel="stylesheet" href="{% static 'css/home.css' %}">
  {% endblock %}
  {% block javascript %}
  <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
  {% endblock %}
</head>
<body>
  {%block content%}
  <div class="nav">
    <br>
      <a  href='http://www.ox.ac.uk/'><img src="https://armacad.info/images/2017/04/UniversityofOxfordPre-MastersCourse2017--hlEg2iy5PYQGFjURZE_yoZAn7-un0YIT.png" id="oxfordLogo"></a>
      <a href='' disabled="disabled"><img src="{% static "images/oucru_banner.png" %}" id="banner"></a>
      <a  href='http://www.oucru.org/'><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRICA1c-zKr1CMGPddMK7rchPy2_DW5JfxXUNENTvtsLkcoc8nl" id="oucruLogo"></a>
  </div>
  <div class="sandbox sandbox-correct-pronounciation">
    <h1 class="heading heading-correct-pronounciation">
      <br>
      <em>
        <span style="color: #0e2f44">O</span>
        <span style="color: #e46f30">U</span>
        <span style="color: #31698a">C</span>
        <span style="color: #fbb838">R</span>
        <span style="color: #dd601d">U</span>
      </em>
     Serum bank manager
    </h1>
    <br>
  </div>
  <div class="box">
  <form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <table>
  <tr>
      <td>{{ form.username }}</td>
  </tr>
  <tr>
      <td>{{ form.password }}</td>
  </tr>
  </table>
  <input class="log-button" type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
  </form>
  </div>
  {%endblock content%}
</body>
