{% load staticfiles %}

<nav>
    <a href="{% url 'sboapp:staff' %}"  ><img class=grow src="{% static "images/OUCRU_rgb.png" %}" id="logo"></a>
    <a href='' disabled="disabled"><img src="{% static "images/oucru_banner.png" %}" id="banner"></a>
    {% if user.is_authenticated %}
    <h4>{{ user.username }}</h4>
    {% if user.is_staff %}
    <a href = "{% url 'admin:index'%}">administration</a>
    {% endif %}
    <a href = "{% url 'logout'%}">log out</a>
    {% else %}
    <p>Welcome, new user. Please, log in.</p>
    {% endif %}
</nav>
