<!DOCTYPE html>
{%load static%}
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title> {%block title%} default error title {%endblock title%}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/errors.css' %}">
</head>
<body>
  {%include "layouts/_nav.html"%}
  <div class="wrapper">
    {% block content %}
    {% endblock content %}
  </div>
</body>
</html>
