body {
  /* background-color: #416475; */
  background-image: url("https://www.goodfreephotos.com/cache/vietnam/saigon/skyline-and-cityscape-in-saigon-vietnam_800.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}
