<!DOCTYPE html>
{%extends 'layouts/base_pages.html'%}


{%block title%} Serum Bank OUCRU app {%endblock%}

{% block page-header %}
<h1>Change Password</h1>
{% endblock %}
{% block content %}
<div class="text-center">
  <div class="container-undo">
    <div class="card-password">
      {% if user.is_authenticated %}
        <h1>{{user.first_name}}'s profile</h1>
        <p>First name : {{ user.first_name}}</p>
        <p>Last name : {{ user.last_name}}</p>
        <p>Username : {{ user.username}}</p>
        <p>Email : {{ user.email}} </p>
      {% endif %}
    </div>
    <div class="card-password">

      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save changes</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
</body>
