<!DOCTYPE html>
{%extends 'layouts/base.html'%}

{%block title%} Serum Bank OUCRU app {%endblock%}

{%block content%}
<a href = "{% url "sboapp:staff"%}">Go back to your Dashboard</a>
<div class="text-center">
<h1>*Display database tables*</h1>
</div>
    <p>
      <p>
        <p>
          <h2>Serum Table</h2>
          <br>
          <p>local_sample_id -- site_id -- coll_num -- sample_id -- age_min -- age_max -- original_age -- gender_1ismale_value --
            coll_date -- day_value -- month_value -- year -- ward_id -- results_file_id</p>
          <ul>
          {% for serum in serum_nb %}
          <li>{{ serum.local_sample_id}}
          --{{ serum.site_id}}
          --{{ serum.coll_num}}
          --{{ serum.sample_id}}
          --{{ serum.age_min}}
          --{{ serum.age_max}}
          --{{ serum.original_age}}
          --{{ serum.gender_1ismale_value}}
          --{{ serum.coll_date}}
          --{{ serum.day_value}}
          --{{ serum.month_value}}
          --{{ serum.year}}
          --{{ serum.ward_id}}
          --{{ serum.results_file_id}}</li>
          {% endfor %}
          </ul>
          <br>
          <h2>
            Site Table
          </h2>
          <br>
          <p>site_id -- site_name</p>
          <ul>{% for site in site_nb %}
            <li>{{ site.site_id}}
              --
              {{ site.site_name}}</li>
            {% endfor %}</ul>
          <br>
          <h2>
            Ward Table
          </h2>
          <br>
          <p>ward_id -- ward_name -- khoa</p>
          <ul>{% for ward in ward_nb %}
            <li>{{ ward.ward_id}}
              --
              {{ ward.ward_name}}
              --
              {{ ward.khoa}}</li>
            {% endfor %}</ul>
            <br>
            <h2>
              Freezer Table
            </h2>
            <br>
          <p>sample_auto_id -- study_code -- site_id -- sample_id -- original_age -- gender_1ismale_value -- coll_date --
          ward_id -- sample_type -- aliquot_no -- volume -- freezer_section_name -- subdivision_1_position
        -- subdivision_2_position -- subdivision_3_position -- subdivision_4_position</p>
          <ul>{% for freezer in freezer_nb %}
            <li>{{ freezer.sample_auto_id}}
              --{{ freezer.study_code}}
              --{{ freezer.site_id}}
              --{{ freezer.sample_id}}
              --{{ freezer.original_age}}
              --{{ freezer.gender_1ismale_value}}
              --{{ freezer.coll_date}}
              --{{ freezer.ward_id}}
              --{{ freezer.sample_type}}
              --{{ freezer.aliquot_no}}
              --{{ freezer.volume}}
              --{{ freezer.freezer_section_name}}
              --{{ freezer.subdivision_1_position}}
              --{{ freezer.subdivision_2_position}}
              --{{ freezer.subdivision_3_position}}
              --{{ freezer.subdivision_4_position}}</li>
            {% endfor %}</ul>
        </p>
      </p>
    </p>
<br>


{%endblock content%}
