<!DOCTYPE html>
{%extends 'layouts/base_export.html'%}

{%block title%} Serum Bank OUCRU app {%endblock%}

{% block page-header %}
<h1>Edit profile</h1>
{% endblock %}
{% block content %}
<div class="text-center">
  <div class="container-undo">
    <div class="card">
      {% if user.is_authenticated %}
        <h1>{{user.first_name}}'s profile</h1>
        <p>First name : {{ user.first_name}}</p>
        <p>Last name : {{ user.last_name}}</p>
        <p>Username : {{ user.username}}</p>
        <p>Email : {{ user.email}} </p>
      {% endif %}
    </div>
  <div class="card">
<a href="edit_profile/change_password" class="btn btn-warning">Edit password</a>
<p></p>
<a href="edit_profile/change_profile" class="btn btn-warning ">Edit profile</a>
</div>
</div>
</div>
{% endblock %}
</body>
