<!DOCTYPE html>
{%extends 'layouts/base.html'%}
{% load static %}
<!-- Submission button save query parameters and send to the display_export.html page -->
{%block title%} Serum Bank OUCRU app {%endblock%}

<html>
    <head>
        {% block javascript %}
        <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/query.js' %}"></script>
        {% endblock %}
        <title>
            Page where i make query thanks to filters
        </title>
    </head>
    <body>
      {%block content%}
      <div class="text-center">
        <p>This is the query page </p>
      </div>
    <form method="post" action="{% url "sboapp:query" %}" enctype="multipart/form-data">
    <fieldset>
      <p>

        <label for="sample_id">Sample_id :</label>

        <input type="text" name="sample_id" id="sample_id" placeholder="Ex : AG020015" size="10" maxlength="8" />

      </p>
      <br>
      <div class="form-check form-check-inline">
      <p>Site_id : </p>
      <input class="form-check-input" type="checkbox" name="siteAG" id="site" value="siteAG" onclick="test(this,this.id)">
      <label class="form-check-label" for="site">AG</label>
      <input class="form-check-input" type="checkbox" name="siteBD" id="site" value="siteBD" onclick="test(this,this.id)">
      <label class="form-check-label" for="site">BD</label>
      <input class="form-check-input" type="checkbox" name="siteDL" id="site" value="siteDL" onclick="test(this,this.id)">
      <label class="form-check-label" for="site">DL</label>
      <input class="form-check-input" type="checkbox" name="siteDT" id="site" value="siteDT" onclick="test(this,this.id)">
      <label class="form-check-label" for="site">DT</label>
      <input class="form-check-input" type="checkbox" name="siteHC" id="site" value="siteHC" onclick="test(this,this.id)">
      <label class="form-check-label" for="site">HC</label>
      <input class="form-check-input" type="checkbox" name="siteHU" id="site" value="siteHU" onclick="test(this,this.id)">
      <label class="form-check-label" for="site">HU</label>
      <input class="form-check-input" type="checkbox" name="siteKG" id="site" value="siteKG" onclick="test(this,this.id)">
      <label class="form-check-label" for="site">KG</label>
      <input class="form-check-input" type="checkbox" name="siteKH" id="site" value="siteKH" onclick="test(this,this.id)">
      <label class="form-check-label" for="site">KH</label>
      <input class="form-check-input" type="checkbox" name="siteQN" id="site" value="siteQN" onclick="test(this,this.id)">
      <label class="form-check-label" for="site">QN</label>
      <input class="form-check-input" type="checkbox" name="siteST" id="site" value="siteST" onclick="test(this,this.id)">
      <label class="form-check-label" for="site">ST</label>
      </div>
      <br>
      <div class="form-row align-items-center">
      <div class="col-auto my-1">
      <label class="mr-sm-2" for="inlineFormCustomSelect">Coll_num :</label>
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
      <option selected>Choose...</option>
      <option value="1">01</option>
      <option value="2">02</option>
      <option value="3">03</option>
      <option value="4">04</option>
      <option value="5">05</option>
      <option value="6">06</option>
      <option value="7">07</option>
      <option value="8">08</option>
      <option value="9">09</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      </select>
      </div>
      </div>
      <br>
      <p>

        <label for="birth_year">Birth_year :</label>

        <input type="text" name="birth_year" id="birth_year" placeholder="Ex : 1993" size="8" maxlength="4" />

      </p>
      <br>
      <div class="slidecontainer">
      <label for="age_min">age_min :</label>
      <input type="range" min="0" max="100" value="50" class="slider" id="age_min">
      <p>Value: <span id="demo"></span></p>
      <br>
      <label for="age_max">age_max :</label>
      <input type="range" min="0" max="100" value="50" class="slider" id="age_max">
      <p>Value: <span id="demokd"></span></p>
      </div>

      <br>
      <div class="form-check form-check-inline">
        <p>Gender : </p>
        <input type="checkbox" name="male" id="male" /> <label for="male">M</label>
        <input type="checkbox" name="female" id="female" /> <label for="female">F</label>
      </div>
      <br>
      <p>

        <label for="coll_date">Coll_date :</label>

        <input type="date" name="coll_date" id="coll_date" placeholder="dd/mm/yyyy" size="10" maxlength="10" />

      </p>
      <br>
      <div class="form-row align-items-center">
      <div class="col-auto my-1">
      <label class="mr-sm-2" for="inlineFormCustomSelect">Year of collect :</label>
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
      <option selected>Choose...</option>
      <option value="2009">2009</option>
      <option value="2010">2010</option>
      <option value="2011">2011</option>
      <option value="2012">2012</option>
      <option value="2013">2013</option>
      <option value="2014">2014</option>
      <option value="2015">2015</option>
      <option value="2016">2016</option>
      <option value="2017">2017</option>
      <option value="2018">2018</option>
      <option value="2019">2019</option>
      <option value="2020">2020</option>
      <option value="2021">2021</option>
      <option value="2022">2022</option>
      <option value="2023">2023</option>
      <option value="2024">2024</option>
      <option value="2025">2025</option>
      </select>
      </div>
      </div>

      <br>
      <div class="form-row align-items-center">
      <div class="col-auto my-1">
      <label class="mr-sm-2" for="inlineFormCustomSelect">Year of collect (TEST) :</label>
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
      <option selected>Choose...</option>
      {% for serum in serum_nb %}
      <option value={{serum.year}}>{{serum.year}}</option>
      {% endfor %}
      </select>
      </div>
      </div>
      <br>
      <div class="form-check">
        <p>Ward :</p>
        {% for ward in ward_nb%}
        <input class="form-check-input" type="checkbox" name={{ward.ward_id}} id={{ward.ward_id}} value={{ward.ward_id}} onclick="test(this,this.id)">
        <label class="form-check-label" for="site">{{ward.ward_id}} - {{ward.ward_name}}</label><br>
        {% endfor %}
      </div>
      <br>
      <div class="form-check">
      <p>Freezer location : </p>
      <p>(including freezer_section_name, subdivision 1,2,3 and 4 position)</p>
      <input class="form-check-input" type="checkbox" name="location" value="location" onclick="test(this,this.id)">
      <label for="location">I want to display this information</label>
      </div>
      <br>
      <div class="form-check">
      <p>Freezer additional information : </p>
      <p>(including sample_type, aliquot_no and volume)</p>
      <input class="form-check-input" type="checkbox" name="location" value="location" onclick="test(this,this.id)">
      <label for="location">I want to display this information</label>
      </div>
      <br>
      <div class="form-check form-check-inline">
        <p>Results :</p>
      <input class="form-check-input" type="checkbox" name="results" id="results" value="results" onclick="test(this,this.id)">
      <label class="form-check-label" for="results">ELISA</label>
      <fieldset class="conditional">
        <div class="form-row align-items-center">
        <div class="col-auto my-1">
        <label class="mr-sm-2" for="inlineFormCustomSelect">Disease - ELISA</label>
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option selected>Choose...</option>
        <option value="1">Chikungunya</option>
        <option value="2">Dengue</option>
        <option value="3">Rickettsia</option>
        </select>
        </div>
        </div>
      </fieldset>
      <input class="form-check-input" type="checkbox" name="results" id="results" value="results" onclick="test(this,this.id)">
      <label class="form-check-label" for="results">PMA</label>
      <fieldset class="conditional">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name=disease_pma id=disease_pma value=disease_pma onclick="test(this,this.id)">
          <label class="form-check-label" for="disease_pma">CHIKV.E1.mutant</label><br>
          <input class="form-check-input" type="checkbox" name=disease_pma id=disease_pma value=disease_pma onclick="test(this,this.id)">
          <label class="form-check-label" for="disease_pma">CHIKV.E2</label><br>
          <input class="form-check-input" type="checkbox" name=disease_pma id=disease_pma value=disease_pma onclick="test(this,this.id)">
          <label class="form-check-label" for="disease_pma">DV1...NS1</label><br>
          <input class="form-check-input" type="checkbox" name=disease_pma id=disease_pma value=disease_pma onclick="test(this,this.id)">
          <label class="form-check-label" for="disease_pma">DV2...NS1</label><br>
          <input class="form-check-input" type="checkbox" name=disease_pma id=disease_pma value=disease_pma onclick="test(this,this.id)">
          <label class="form-check-label" for="disease_pma">DV3...NS1</label><br>
          <input class="form-check-input" type="checkbox" name=disease_pma id=disease_pma value=disease_pma onclick="test(this,this.id)">
          <label class="form-check-label" for="disease_pma">DV4...NS1</label><br>
          <input class="form-check-input" type="checkbox" name=disease_pma id=disease_pma value=disease_pma onclick="test(this,this.id)">
          <label class="form-check-label" for="disease_pma">JEV...NS1</label><br>
          <input class="form-check-input" type="checkbox" name=disease_pma id=disease_pma value=disease_pma onclick="test(this,this.id)">
          <label class="form-check-label" for="disease_pma">SLEV...NS1</label><br>
          <input class="form-check-input" type="checkbox" name=disease_pma id=disease_pma value=disease_pma onclick="test(this,this.id)">
          <label class="form-check-label" for="disease_pma">TBEV...NS1</label><br>
          <input class="form-check-input" type="checkbox" name=disease_pma id=disease_pma value=disease_pma onclick="test(this,this.id)">
          <label class="form-check-label" for="disease_pma">WNV...NS1</label><br>
          <input class="form-check-input" type="checkbox" name=disease_pma id=disease_pma value=disease_pma onclick="test(this,this.id)">
          <label class="form-check-label" for="disease_pma">YFV...NS1</label><br>
          <input class="form-check-input" type="checkbox" name=disease_pma id=disease_pma value=disease_pma onclick="test(this,this.id)">
          <label class="form-check-label" for="disease_pma">ZIKV.Brasil...NS1</label><br>
          <input class="form-check-input" type="checkbox" name=disease_pma id=disease_pma value=disease_pma onclick="test(this,this.id)">
          <label class="form-check-label" for="disease_pma">ZIKV...NS1</label><br>
        </div>
      </fieldset>
    </div>
    </fieldset>

    </form>
    <form action="{% url "sboapp:display_export" %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="text-center">
        <input type="submit"
               value="Submit Query"
               style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;">
        </div>

    </form>
    </body>
</html>
{%endblock content%}
