<!DOCTYPE html>
{%extends 'layouts/base.html'%}

<!-- {% load widget_tweaks %} -->
{% load staticfiles %}

{%block title%} Serum Bank OUCRU app {%endblock%}

<html>
    <head>
        <title>
            Sort data from db through queries
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    </head>
    <body>
    {%block content%}
      <p>{{valid_error}}</p>
      <!-- <form action="{% url "sboapp:display_export" %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <table border="1">
            {{sort_form}}
          </table>
          {% for hidden_field in sort_form.hidden_fields %}
            {{ hidden_field }}
          {% endfor %}
          {% for field in sort_form.visible_fields %}
            <div class="form-group">
              {{ field.label_tag }}
              {% render_field field class="form-control" %}
              {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
              {% endif %}
            </div>
          {% endfor %}
            <div class="text-center">
          <input type="submit"
                 value="Submit Query"
                 style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;">
          </div>

      </form> -->

<form action="{% url "sboapp:display_export" %}" method="post" >
  <!-- {% csrf_token %}

  {% for hidden_field in sort_form.hidden_fields %}
    {{ hidden_field }}
  {% endfor %}

  {% if sort_form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      {% for error in sort_form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>
  {% endif %}

  {% for field in sort_form.visible_fields %}
    <div class="form-group">
      {{ field.label_tag }}

      {% if sort_form.is_bound %}
        {% if field.errors %}
          {% render_field field class="form-control is-invalid" %}
          {% for error in field.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
          {% endfor %}
        {% else %}
          {% render_field field class="form-control is-valid" %}
        {% endif %}
      {% else %}
        {% render_field field class="form-control" %}
      {% endif %}

      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    </div>
  {% endfor %} -->
      {% csrf_token %}

    {% for hidden in sort_form.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    {% for field in sort_form.visible_fields %}
      <div class="form-group">
        <br>
        <label for="{{ field.id_for_label }} ">{{ field.label }} : </label>
        {{field}}
        <br>
        {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    {% endfor %}

    <div class="form-group">
      <button type="submit" class="btn btn-success">
        <span class="glyphicon glyphicon-ok"></span> Save
      </button>
    </div>
  <!-- <input type="submit"
         value="Submit Query"
         style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;"> -->
</form>
    {%endblock content%}
    </body>
</html>
