<!DOCTYPE html>
{%extends 'layouts/base_form.html'%}

{% load widget_tweaks %}
{% load staticfiles %}
{% load crispy_forms_tags %}

<!-- {%block title%} Serum Bank OUCRU app {%endblock%} -->
{% block head-javascript %}
    {{ sort_form.media }}
{% endblock %}


{% block page-header %}
<h1>Filtering Query</h1>
{% endblock %}


{% block content %}
<div class="row">
  {% crispy sort_form %}
</div>
{% endblock %}

{% block foot-javascript %}
<script>
$( document ).ready( function() {
    // Afficher l'onglet suivant en cliquant sur le bouton suivant
    $('.btnNext').click(function(){
        $('.nav-tabs > .active + li a').trigger('click');
        $(".nav-tabs + .tab-content").find(":input:visible:first").focus();
    });
    // Afficher l'onglet précédent en cliquant sur le bouton précédent
    $('.btnPrevious').click(function(){
        $('.nav-tabs > .active').prev('li').find('a').trigger('click');
        $(".nav-tabs + .tab-content").find(":input:visible:first").focus();
    });
});
</script>
{% endblock %}
