<!DOCTYPE html>
{%extends 'layouts/base_form.html'%}

{%block title%} Serum Bank OUCRU app {%endblock%}

<html>
    <head>
        <title>
            Validate or modify query
        </title>
    </head>
    <body>
    {%block content%}
      <p>This is the validate_query page</p><br>
      <p>Query result ---> Serum count + HighCharts (Serum = f (Year x Site))</p><br>
      <p>buttons : modify query (return to sort_data page) + export (go to display_export page)</p><br>
      <h1>{{valid_error}}</h1><br>
      <h1>{{sample_id}}</h1><br><h1>{{changed_list}}</h1><br><h1>{{queryset_error}}</h1><br>
      <a href="sort_data" class="btn btn-danger col-md-offset-1" role="button">Modify Query</a>
      <a href="display_export" class="btn btn-success col-md-offset-8" role="button" type="submit">Validate Query</a><br>
      <h1>Serum count : {{queryset_count}}</h1>
      {% for serum in queryset %}
      <ul>
        <li>{{serum}}</li>
      </ul>
      {% endfor %}

      <!-- <p>
      {% for arg in args %}
        {{ arg }}<br>
      {% endfor %}
    </p> -->
    {%endblock content%}
    </body>
</html>
